* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5px;
    font-family: 'Manrope', sans-serif;
}

.right-section {
    display: flex;
    align-items: center;
}

.right-section ul {
    list-style: none;
    display: flex;
}

.road-assistance {
    display: flex;
    padding-left: 20px;
}

.right-section ul li {
    margin-right: 20px;
}

.right-section ul li a {
    text-decoration: none;
    color: #000;
}

.right-section .navigation {
    border-right: 2px solid #ccc;
}

.road-assistance .icon {
    margin-right: 10px;
}

.flex {
    display: flex;
}

#heroSection .image-section {
    width: 55%;
}

#heroSection .text-section {
    width: 45%;
    font-family: 'Manrope', sans-serif;   
}

#heroSection .image-section {
    background-image: url(../img/headerImage.png);
    background-size: cover;
    background-position: center;
    height: 65vh;
}

#heroSection {
    padding: 80px 0;
}

.text-section h1{
    font-size: 64px;
}

.orange-btn {
    text-decoration: none;
    color: white;
    background-color: #FF6433;
    padding: 16px 40px;
    margin-top: 35px;
    border-radius: 10px;
    font-size: 18px;
    display: inline-block;
}

.time-section {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.time-section img{
    width: 100%;
}

.text-section .image-box {
    width: 6%;
    margin-right: 10px;
}

.text-section .time-text {
    width: 100%;
}

.light-grey{
    color: #939191;
}

#quoteSection {
    background-color: #E2E6E9;
    padding: 80px 0;
    font-family: 'Manrope', sans-serif;
}

#quoteSection .left-section, #quoteSection .right-form-section {
    width: 45%;
}

#quoteSection ul {
    list-style: none;
}

#quoteSection ul li {
    margin-bottom: 20px;
}

#quoteSection .left-section h2 {
    margin-bottom: 30px;
    font-size: 58px;
}

#quoteSection .left-section .image-box {
    width: 5%;
    margin-right: 10px;
}

#quoteSection .left-section .image-box img {
    width: 100%;
    overflow: hidden;
}

#quoteSection .left-section .text-box {
    width: 50%;

}

#quoteSection .left-section .text-box h5 {
    font-size: 24px;
    margin-bottom: 5px;
}

#quoteSection .left-section .text-box p {
    font-size: 16px;
}

#quoteSection .right-form-section h3{
    font-size: 48px;
    margin-bottom: 32px;
}

#quoteSection .right-form-section input{
    width: 100%;
    padding: 10px;
}

.justify-between {
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: black;
}

#helpSection {
    padding: 80px 0;
    font-family: 'Manrope', sans-serif;
}

#helpSection .left-help-section, #helpSection .right-help-section {
    width: 45%;    
}

#helpSection .left-help-section h2 {
    margin-bottom: 30px;
    font-size: 58px;
}

#helpSection ul{
    list-style: none;
}

#helpSection .right-help-section .text-square h4 {
    font-size: 32px;
    margin-bottom: 5px;
    padding: 15px;
}

#helpSection .right-help-section .text-square p {
    padding-left: 15px;
}

#helpSection .right-help-section .number-image .line {
    padding-left: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#offerSection {
    background-color: #E2E6E9;
    padding: 80px 0;
    text-align: center;
    font-family: 'Manrope', sans-serif;
}

#offerSection p{
    font-size: 24px;
}

#offerSection h6{
    font-size: 58px;
    padding-bottom: 35px;
}

.flex-container {
    margin-left: 100px;
}

.flex-box {
    justify-content: center;
    align-items: center;
    padding: 50px;
    height: 180px;
    width: 250px;
    text-align: center;
    background-color: white;
    margin-right: 0.5%;
    margin-bottom: 0.5%;
    color: #000;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-box:hover {
    background-color: #FF6433;
    color: white;
}

.flex-services a {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    color: black;
    text-decoration: none;
}

.flex-services {
    display: flex;
    justify-content: flex-end;
}

.flex-services a p {
    margin-right: 10px;
}

#offerSection p {
    font-size: 18px;
}

#toolSection {
    height: 500px;
    background-color: #F2F2F2;
}

#toolSection .tools {
    display: block;
    background-color: #F2F2F2;
}

#toolSection .car-section {
    width: 20%;
    height: 500px;
    background-image: url(../img/car.png);
    background-size: cover;
    background-position: left;
}

#toolSection .orange-section {
    width: 40%;
    background: #FF6433;
    height: 500px;
}

#toolSection .orange-text {
    color: white;
    font-size: 36px;
    padding: 128px 80px 240px 80px;
    font-family: 'Manrope', sans-serif;
}

#toolSection .auto-section {
    width: 40%;
    height: 500px;
    background-image: url(../img/plug.png);
    background-size: cover;
}

#ratingSection {
    background-color: #F2F2F2;
    width: 100%;
}

#ratingSection .rating-section {
    display: flex;
    justify-content: space-evenly;
}

#ratingSection .rating {
    margin-top: 48px;
}

#ratingSection .rating h2 {
    font-size: 58px;
    color: #661CE7;
    font-family: 'Manrope', sans-serif;
}

#ratingSection .rating h3 {
    font-size: 24px;
    font-family: 'Manrope', sans-serif;
}

#brandSection {
    text-align: center;
    font-size: 48px;
    margin: 128px 0px;
    font-family: 'Manrope', sans-serif;
}

#brandSection img {
    width: 100%;
    overflow: hidden;
}

#reviewSection {
    background-color: #F2F2F2;
    font-family: 'Manrope', sans-serif;
    width: 100%;
}

#reviewSection h2 {
    text-align: center;
    font-size: 48px;
    margin: 60px 0px;
    font-family: 'Manrope', sans-serif;
    padding-top: 50px;
}

.review-box {
    background-color: white;
    justify-content: center;
    align-items: center;
    padding: 50px;
    height: 376px;
    width: 616px;
    text-align: left;
    margin-right: 5%;
    margin-bottom: 2%;
    color: #000;
}

#reviewSection .statement {
    margin-top: 30px;
    font-size: 24px;
}

.profile {
    padding-left: 10px;
    padding-top: 10px;
}

.arrow-flex {
    display: flex;
    justify-content: flex-end;
}

#faqSection {
    background-color: #E2E6E9;
    min-height: 100vh;
    padding: 80px 0px;
    font-family: 'Manrope', sans-serif;
}

#faqSection h2{
    text-align: center;
    margin-bottom: 20px;
}

#faqSection .faq-main-box {
    width: 80%;
    margin: 0 auto;
}

#faqSection .faq-main-box .faq-box {
    background: white;
    padding: 20px;
    margin-bottom: 15px;
}

#faqSection .faq-main-box .faq-box .faq-control{
    background: #FF6433;
    width: 48px;
    height: 48px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    cursor: pointer;
}

.faq-box .header-section {
    display: flex;
    justify-content: space-between;
}

.faq-box .header-section h4 {
    font-weight: 600;
    font-size: 24px;
}

.faq-box .answer-section {
    padding: 0 20px 20px 0;
}

.faq-box .answer-section .answer-box {
    width: 90%;
    color: #939191;
}

#topFooter {
    background-color: #1E1B1B;
    color: white;
    font-family: 'Manrope', sans-serif;
    width: 100%;
}

#topFooter .left-top-footer {
    width: 40%;
}

#topFooter .left-top-footer h1 {
    font-size: 48px;
    padding-top: 128px;
    padding-bottom: 66.25px;
}

#topFooter .flex-footer {
    display: flex;
    justify-content: space-evenly;
}

#topFooter .right-top-footer{
    width: 40%;
    margin-top: 128px;
    margin-left: 193px;
    margin-bottom: 129px;
}

#topFooter .right-top-footer .right-text {
    padding-bottom: 32px;
}

#topFooter .right-top-footer p{
    font-size: 18px;
    padding-bottom: 8px;
}

#topFooter .right-top-footer h4 {
    font-size: 24px;
}


#bottomFooter {
    background-color: #000;
    width: 100%;
}

.main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5px;
    font-family: 'Manrope', sans-serif;
    color: white;
}

.white-logo {
    margin-right: 288px;
}

.right-footer-section{
    display: flex;
}

.right-footer-section .white-navigation ul li a{
    color: white;
}

.right-footer-section ul {
    list-style: none;
    display: flex;
    color: white;
}

.right-footer-section ul li {
    margin-right: 20px;
}

.copyright {
    color: #939191;
    margin-left: 200px;
}

/* Services page */

#mechanicSection {
    min-height: 100vh;
    display: flex;
    margin-top: 108px;

}

#mechanicSection .mechanic-section{
    width: 40%;
    height: 550px;
    background-image: url(../img/mechanic.png);
    background-size: cover;
    background-position: left;
}

#mechanicSection .text-mechanic-section  {
    width: 60%;
    background: black;
    color: white;
}

#mechanicSection .text-mechanic-section h1 {
    margin: 96px 16px 0 60px;
    margin-bottom: 16px;
    font-size: 45px;
    font-family: 'Manrope' sans-serif;
}

#mechanicSection .text-mechanic-section p {
    margin-left: 60px;
    width: 70%;
    height: 96px;
    font-size: 18px;
    font-family: 'Manrope' sans-serif;
}

#mechanicSection .text-mechanic-section a {
    margin-left: 60px;
    font-family: 'Manrope' sans-serif;
}

.container-2 {
    width: 80%;
    margin-right: 20% auto;
}

#diagnosticsSection {
    background-color: #F5F5F5;
    min-height: 120vh;
}

#diagnosticsSection .auto-diagnostics {
    width: 50%;
    margin: 128px 0  0 160px;
    background-color: white;
}

#diagnosticsSection .auto-diagnostics .image-wheel-section {
    margin: 64px 32px 48px 48px;
}

#diagnosticsSection .auto-diagnostics h2 {
    font-size: 48px;
    margin: 0 16px 0 48px;
    font-family: 'Manrope' sans-serif;
}

#diagnosticsSection .auto-diagnostics p {
    font-size: 24px;
    margin: 0 32px 0 48px;
    color: #232536;
    font-family: 'Manrope' sans-serif;
}

#diagnosticsSection .auto-diagnostics .details {
    display: flex;
    justify-content: space-between;
    width: 25%;
    margin-top: 32px;
    margin-left: 48px;
    margin-bottom: 43px;
    font-size: 18px;
}

#diagnosticsSection .diagnostics-offer {
    width: 50%;
    margin: 128px 0  0 32px;
    max-height: 760px;
}

#diagnosticsSection .diagnostics-offer .wheel-box {
    background: white;
    height: 232px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 48%;
    margin-bottom: 32px;
}

#diagnosticsSection .diagnostics {
    flex-wrap: wrap;
}

#diagnosticsSection .diagnostics-offer .wheel-box:hover {
    background: #ff6433;
    color: white;
}

#processSection {
    min-height: 200vh;
}

#processSection .process-1 {
    margin-top: 114px;
    margin-bottom: 53px;
    width: 50%;
}

#processSection .process-1-text h3 {
    font-size: 48px;
    font-family: 'Manrope' sans-serif;
}

#processSection .process-1-image img {
    width: 48%;
}

#processSection .process-1-text .process-list {
    margin-top: 15px;
}

#processSection .process-1-text .process-list p {
    margin-left: 12px;
    padding-top: 10px;
    font-family: 'Manrope' sans-serif;
}

#processSection .process-1-text {
    margin-bottom: 128px;
}

#processSection .process-1-image {
    display: flex;
    justify-content: space-between;
}

#processSection .process-2 {
    margin-top: 114px;
    margin-bottom: 53px;
    width: 50%;
}

#processSection .process-2-image {
    display: flex;
    justify-content: space-between;
}

#processSection .process-2-image img {
    width: 48%;
    height: 340px;
    margin-bottom: 128px;
    margin-left: 32px;
}

#processSection .process-2-text {
    margin-left: 88px;
}

#processSection .process-2-text h3 {
    font-size: 48px;
    margin-bottom: 32px;
    font-family: 'Manrope' sans-serif;
}

#processSection .process-2-text h6 {
    font-size: 18px;
    width: 85%;
    font-family: 'Manrope' sans-serif;
}

/* mobile view */
@media (max-width: 426px) {
    .main-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .right-section {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        display: none;
    }

    .right-section .navigation{
        border: none;
        width: 100%;
    }
    .right-section .navigation ul {
        flex-direction: column;
    }

    .right-section ul li{
        padding: 10px 0;
        margin-right: 0px;
    }

    .right-section ul li a {
        display: block;
    }

    .road-assistance {
        padding: 10px 0;
    }

    .flex-sm-column {
        flex-direction: column;
    }

    #heroSection .text-section,  #heroSection .image-section {
        width: 100%;
    }

    #heroSection .image-section{
        order: 1;
    }

    #heroSection .text-section{
        order: 2;
    }

    .text-section h1 {
        font-size: 35px;
    }

    .quote-flex {
        flex-direction: column;
    }

    #quoteSection .left-section, #quoteSection .right-form-section {
        width: 100%;
    }

    #quoteSection .left-section .text-box {
        width: 100%;
    }

    #quoteSection .left-section .image-box {
        width: 10%;
    }

    #quoteSection .left-section h2, #quoteSection .right-form-section h3 {
        font-size: 35px;
    }

    #quoteSection .left-section {
        margin-bottom: 40px;
    }

    #helpSection .left-help-section, #helpSection .right-help-section {
        width: 100%;
    }

    #helpSection .left-help-section h2 {
        font-size: 35px;
    }

    #helpSection .left-help-section {
        margin-bottom: 40px;
    }

    #helpSection .number-image .img {
        width: 80%;
    }

    #helpSection .right-help-section .text-square h4 {
        font-size: 25px;
    }

    #helpSection .right-help-section .text-square p {
        font-size: 14px;
    }

    #helpSection .right-help-section .number-image .number {
        width: 60px;
        padding-top: 10px;
    }

    #helpSection .right-help-section .number-image .line{
        padding-left: 32px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    #offerSection h6, #faqSection h2, h2 {
        font-size: 35px;
    }

    .flex-container {
        margin-left: 0px;
    }

    .flex-box {
        width: 100%;
    }

    #reviewSection h2 {
        font-size: 35px;
    }

    .review-box {
        width: 100%;
    }

    #reviewSection .statement {
        font-size: 16px;
    }

    #toolSection .car-section {
        width: 100%;
        height: 200px;
    }

    #toolSection .orange-section {
        width: 100%;
        height: 100px;
        font-size: 15px;
    }

    #toolSection .orange-text {
        padding: 0;   
    }

    #toolSection .auto-section {
        width: 100%;
        height: 200px;
    }

    #ratingSection .rating-section {
        flex-direction: column;
        text-align: center;
    }

    #offerSection h6, #faqSection h2, h2 {
        font-size: 26px;
    }

    #faqSection {
        min-height: 200vh;
    }

    #topFooter .flex {
        flex-direction: column;
    }

    #topFooter .left-top-footer {
        width: 100%;
    }

    #topFooter .right-top-footer {
        margin: 0%;
        width: 100%;
    }

    #topFooter .flex-footer {
        margin-bottom: 30px;
        margin-right: 200px;
    }

    .main-footer {
        flex-direction: column;
        width: 100%;
    }

    .right-footer-section {
        flex-direction: column;
        padding-right: 30px;
    }

    /* Services page */
    #diagnosticsSection .flex {
        flex-direction: column;
    }

    #diagnosticsSection .auto-diagnostics {
        width: 100%;
        margin-left: 30px;
    }

    #diagnosticsSection .auto-diagnostics .image-wheel-section img{
        width: 100%;
    }

    #diagnosticsSection .auto-diagnostics h2 {
        font-size: 35px;
    }

    #diagnosticsSection .auto-diagnostics p {
        font-size: 16px;
    }

    #diagnosticsSection .auto-diagnostics .details {
        width: 50%;
    }

    #processSection .flex {
        flex-direction: column;
    }


}
/* tablet view */
@media (max-width: 769px ) and (min-width: 426px) {
.container {
    width: 90%;
}

    .road-assistance {
        display: none;
    }

    .text-section h1 {
        font-size: 45px;
    }

    #quoteSection .left-section h2, #quoteSection .right-form-section h3,  #helpSection .left-help-section h2, #offerSection h6   {
        font-size: 45px;
    }

    #quoteSection .left-section .text-box {
        width: 100%;
    }

    #quoteSection .left-section .image-box {
        width: 10%;
    }

    #toolSection .orange-text {
        font-size: 24px;
        padding: 50px;
    }

    #toolSection, #toolSection .car-section,#toolSection .orange-section, #toolSection .auto-section {
        height: 350px;
    }

    #ratingSection .rating h2 {
        font-size: 45px;
    }

    #ratingSection .rating h3 {
        font-size: 16px;
    }

    #brandSection {
        font-size: 35px;
    }

    #reviewSection h2 {
        font-size: 35px;
    }

    #reviewSection .statement {
        font-size: 16px;
    }

    #faqSection h2 {
        font-size: 35px;
    }

    .faq-box {
        width: 100%;
        margin-left: 0px;
    }

    .right-footer-section {
        flex-direction: column;
    }

    .copyright{
        margin-left: 170px;
    }

    .right-footer-section ul li {
        margin-right: 12px;
    }

    #faqSection {
        min-height: 150vh;
    }

    #diagnosticsSection .flex {
        flex-direction: column;
    }

    #diagnosticsSection .auto-diagnostics {
        width: 100%;
        margin-left: 100px;
    }

    #diagnosticsSection .diagnostics-offer {
        margin-left: 100px;
        width: 50%;
        max-height: 760px;
    }
}
@media (max-width: 1025px ) and (min-width: 768px) {
    .copyright {
        margin-left: 100px;
    }
    #toolSection .orange-text {
        padding: 48px 15px 24px 28px;
    }
}